.DS_Store
*/.DS_Store

src/__pycache__/*
src/test_utils.py
databases/*
cromwell/*
.ipynb_checkpoints
docker/gene-mapper/tests/__pycache__/*
tests/*
config.ini
.pytest_cache
cromwell_build
src/cromwell-executions
